/* "M PLUS Rounded 1c" */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

/* "Zen Kaku Gothic New" */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');


:root {
  /* color pallet */
  --color-purple: #825dab;
  --color-lightpurple: #eddeff;
  --color-brown: #44a803;
  --color-green: #573131;
  --color-orange: #ed810d;
  --color-white: #fefefe;
  --color-black: #242323;

  /* theme fonts */
  --font-rounded: "M PLUS Rounded 1c";
  --font-zengothic: "Zen Kaku Gothic New";

}

.slidev-layout.cover,
.slidev-layout.cover-biz,
.slidev-layout.cover-dev,
.slidev-layout.toc,
.slidev-layout.section,
.slidev-layout.content,
.slidev-layout.end,
.slidev-layout.links{
  /* @apply h-full grid; */

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }

  @apply relative h-full w-full;
}

.background {
  @apply absolute inset-0 w-full h-full;
  
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.main-content {
  @apply relative z-10;
}
