/* "M PLUS Rounded 1c" */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

/* "Zen Kaku Gothic New" */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');


:root {
  /* color pallet */
  --color-purple: #825dab;
  --color-lightpurple: #eddeff;
  --color-brown: #44a803;
  --color-green: #573131;
  --color-orange: #ed810d;
  --color-white: #fefefe;
  --color-black: #242323;

  /* theme fonts */
  --font-rounded: "M PLUS Rounded 1c";
  --font-zengothic: "Zen Kaku Gothic New";

}

.slidev-layout.cover,
.slidev-layout.cover-biz,
.slidev-layout.cover-dev,
.slidev-layout.toc,
.slidev-layout.section,
.slidev-layout.content,
.slidev-layout.end,
.slidev-layout.links{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.background {
  /* @apply absolute inset-0 w-full h-full; */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.main-content {
  /* @apply relative z-10; */
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.slidev-layout.cover {
    font-family: var(--font-zengothic), sans-serif;
    padding: 0;
    h1 {
        position: absolute;
        top: 330px;
        left: 60px;

        margin: 0;
        padding: 0;

        font-weight: 700;
        font-size: 36px;
        color: var(--color-black);
    }
    p {
        position: absolute;
        /* top: 360px; */
        top: 420px;
        left: 60px;

        font-weight: 900;
        font-size: 24px;
        color: var(--color-purple);
        line-height: 1.5;
    }
}
